{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": false
    }
  },
  "extends": "eslint:recommended",
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "block-scoped-var": "error",
    "brace-style": ["error", "1tbs"],
    "camelcase": "error",
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "computed-property-spacing": ["error", "never"],
    "complexity": ["error", 12],
    "curly": "error",
    "eol-last": "error",
    "indent": ["error", 2, { "SwitchCase": 1, "MemberExpression": 1 }],
    "eqeqeq": ["error", "smart"],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "max-depth": ["warn", 3],
    "max-len": ["warn", 130],
    "max-nested-callbacks": ["warn", 3],
    "max-params": ["warn", 3],
    "max-statements": ["warn", 15],
    "new-cap": "off",
    "no-console": "error",
    "no-duplicate-imports": "error",
    "no-else-return": "error",
    "no-eq-null": "error",
    "no-extend-native": "error",
    "no-extra-parens": "warn",
    "no-invalid-this": "error",
    "no-lone-blocks": "warn",
    "no-mixed-spaces-and-tabs": "error",
    "no-multi-spaces": "error",
    "no-return-await": "warn",
    "no-shadow": "error",
    "no-trailing-spaces": "error",
    "no-throw-literal": "error",
    "no-unused-expressions": "error",
    "no-unused-vars": "error",
    "no-use-before-define": "off",
    "no-useless-call": "warn",
    "object-curly-spacing": ["error", "always", { "objectsInObjects": false }],
    "prefer-const": "off",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "require-await": "warn",
    "semi": ["error", "always"],
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "strict": "error",
    "quotes": ["error", "single", "avoid-escape"]
  }
}
