# Logs & temp
logs
*.log
tmp
.tmp
.DS_STORE
npm-debug.log

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Compiled
build/Release
dist

# Dependency directory
node_modules

# Users Environment Variables
.lock-wscript
.vscode
.idea
.brackets.json
.jsbeautifyrc
tsd.json
typings
.nvmrc
