h1.text-center.mt-2 HttpZ demo
div(style='position: absolute; right: 1em; top: 1.0em')
  a(href='https://github.com/AlexanderMac/http-z') GitHub Repo
  div v{{libVersion}}
hr

.container
  .row.mb-3
    label.col-lg-2.col-form-label(for='operation') Operation
    .col-lg-10
      select#operation.form-control(
        '[(ngModel)]'="selectedOperation"
        '(change)'="selectOperation()"
      )
        option(value="parse") Parse (plain to model)
        option(value="build") Build (model to plain)

  .row.mb-3
    label.col-lg-2.col-form-label(for='samples') Samples
    .col-lg-10
      select#samples.form-control(
        '[(ngModel)]'="selectedSample"
        '(change)'="selectSample()"
      )
        option(
          *ngFor="let sample of samples"
          '[ngValue]'="sample"
          '[disabled]'="sample.isSeparator"
        ) {{ sample.name }}

  .row
    .col-lg-6
      h3 Input
        small.text-body-secondary.ms-1 ({{ selectedOperation === 'parse' ? 'Plain HTTP Message' : 'Model' }})
      .cm(#input="")
    .col-lg-6
      h3 Output
        small.text-body-secondary.ms-1 ({{ selectedOperation === 'parse' ? 'Model' : 'Plain HTTP Message' }})
      .cm(#output="")

  .row.mb-3
    .col
      strong.me-1 Status:
      span.text-success(*ngIf="inputSuccess") {{ inputSuccess }}
      span.text-danger(*ngIf="inputError") {{ inputError }}

  .row
    .col.d-grid.gap-2
      button.btn.btn-primary('(click)'="exec()") 
        | Execute
